html {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, hsl(49, 100%, 92%), hsl(46, 100%, 68%));
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


h1 {
    color: black;
    margin: 30px auto;
    text-align: center;
    font-size: 50px;
}

img {
    border: 1px solid black;
    padding: 10px;
    background-color: hsl(46, 100%, 68%);
    margin-left: 20px;
}

p {
    margin-left: 19px;
}

h3 {
    color: black;
    margin-left: 20px;
    margin-bottom: 10px;
}

ol {
    margin-left: 20px;
}

ul,
a {
    list-style: none;
    color: black;
    text-decoration: none;
}

ul {
    margin: 5px 5px;
    padding-left: 16px;
}

a:hover {
    color: hsl(43, 89%, 38%);
    font-size: 24px;
    font-style: italic;
}

#return-home {
    text-decoration: none;
    margin-left: 10px;
}
