
body {
    background-image: linear-gradient(to right, #FFF7D4, #FFD95A);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#header-homepage {
    color: black
}

img {
    border: 2px solid black;
}

h4 {
    color: black;
    margin-bottom: 0;
}

 li {
    color: black;
}

a {
    color: black;
}

#homepage {
    padding-left: 0;
    margin-top: 8px;
}

#homepage a {
    text-decoration: none;
}

.home-list {
    list-style: none;
    padding-left: 0;
}

h1 {
    margin-bottom: 5px;
}

a:hover {
    color: darkgoldenrod;
}


